<!-- Static navbar -->
<nav class="navbar navbar-static-top navbar-default">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#navbar" aria-expanded="false"
				aria-controls="navbar">
				<span class="sr-only">Abrir menu</span>

				<!-- Text -->
				<span class="pull-right">Abrir Menu</span>

				<!-- Icons -->
				<span class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span> <span class="icon-bar"></span>
			</button>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li ng-class="{active: navbar.currentMenu == 'iptu'}"><a href="#/iptu/">IPTU</a></li>
				<li ng-class="{active: navbar.currentMenu == 'iss'}"><a href="#/iss/">ISS</a></li>
				<li ng-class="{active: navbar.currentMenu == 'certidoesNegativas'}"><a href="#/certidoesNegativas/">Certidões Negativas</a></li>
				<li ng-class="{active: navbar.currentMenu == 'guias'}"><a href="#/guias/">Guias</a></li>
				<li ng-class="{active: navbar.currentMenu == 'alvaras'}"><a href="#/alvaras/">Alvarás</a></li>
				<li ng-class="{active: navbar.currentMenu == 'validacao'}"><a href="#/validacao/">Validação de documentos</a></li>
			</ul>
		</div>
		<!--/.nav-collapse -->
	</div>
	<!--/.container-fluid -->
</nav>